{% extends 'layout.html' %}

{% block content %}
<h2>Device: {{ device_name }}</h2>
<h3>IP Address: {{ device_ip }}</h3>

<div id="stats">
    <h3>Network Statistics</h3>
    <p>Bytes Sent: <span id="bytes_sent">0</span></p>
    <p>Bytes Received: <span id="bytes_recv">0</span></p>
    <p>Packets Sent: <span id="packets_sent">0</span></p>
    <p>Packets Received: <span id="packets_recv">0</span></p>
</div>

<div id="logs">
    <h3>Logs</h3>
    <pre id="log_content"></pre>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function updateStats() {
    $.ajax({
            url: '/device_stats/{{ device_ip }}',
            method: 'GET',
            success: function(data) {
                document.getElementById('bytes_sent').innerText = data.bytes_sent;
                document.getElementById('bytes_recv').innerText = data.bytes_recv;
                document.getElementById('packets_sent').innerText = data.packets_sent;
                document.getElementById('packets_recv').innerText = data.packets_recv;
                document.getElementById('log_content').innerText = data.logs.join('\n');
            }});
}

setInterval(updateStats, 1000);
updateStats();
</script>

{% endblock %}
