{% extends "layout.html" %}
{% block content %}
<h2>Intrusion Prevention Logs</h2>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Source IP</th>
            <th>Destination IP</th>
            <th>Protocol</th>
            <th>Action</th>
            <th>Reason</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.source_ip }}</td>
            <td>{{ log.destination_ip }}</td>
            <td>{{ log.protocol }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.reason }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
